<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="63d6fb98-d75c-4f70-9a07-36420d93eb5d"
            Publisher="CN=adam"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="63d6fb98-d75c-4f70-9a07-36420d93eb5d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NabbR.Client.Store.WindowsPhone</DisplayName>
    <PublisherDisplayName>adam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="NabbR.Client.Store.WindowsPhone.App">
        <m3:VisualElements
            DisplayName="NabbR.Client.Store.WindowsPhone"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="NabbR.Client.Store.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Assets\SplashScreen.png"/>
            <m3:ApplicationView MinWidth="width320"/> <!--Used in XAML Designer. DO NOT REMOVE-->
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>